
exports.twitter = {
	keys : {
		consumer_key        : 'foo',
		consumer_secret     : 'bar',
		access_token_key    : 'hogehoge',
		access_token_secret : 'hoge'
	},
	interval : 1000 * 120,
	count    : 150
}

exports.database = {
    client     : 'mysql',
	connection : {
		socketPath : '/var/run/mysqld/mysqld.sock',
		user       : 'root',
		password   : 'penguin',
		database   : 'unicorn_chan'
	}
}



// check here to get channel ID and token
// https://github.com/Chikachi/DiscordIntegration/wiki/How-to-get-a-token-and-channel-ID-for-Discord

exports.discord = {
	channelId : '123456781234567890',
	token     : '~~~~~'
};
